---
import Layout from '../layouts/Base.astro';


const tech: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Astro",
		desc: "Build fast websites, faster.",
		href: "https://astro.build",
	},
	{
		title: "Cody Theme for Astro",
		desc: "A minimalist blog theme built with Astro.",
		href: "https://github.com/kirontoo/astro-theme-cody",
	}
];
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	image="/blog-placeholder-about.jpg"
>
	<h2 class="title mt-4">Some of my interests:</h2>
	<ul class="list-inside list-disc">
		<li>Music and Audio: Music creation, performance, and analysis -- jazz, electronic music, and live recordings.</li>
		<li>Philosophy and Society: Societal structures, status, academia, and human behavior influenced by technology.</li>
		<li>Creativity and Careers: Artistic and creative careers -- their societal value and personal impact.</li>
		<li>Linguistics and Communication: The nuances of language, phonetics, and creative expressions.</li>
		<li>Technology and Humanity: Technology's role in societal and individual evolution.</li>
	</ul>

	<h2 class="title mt-4">About this website:</h2>
	<ul class="space-y-4 sm:space-y-2">
		{
			tech.map(({ href, title, desc }) => (
				<li>
					<a
						href={href}
						target="_blank"
						rel="noopener noreferrer"
						class="cody-link inline-block"
					>
						{title}
					</a>: 
					<p class="inline-block sm:mt-2">{desc}</p>
				</li>
			))
		}
	</ul>
</Layout>

