---
import BaseLayout from '../layouts/Base.astro';
import EmbeddedBlogPost from "@/components/blog/EmbeddedPostB";
import EmbeddedMusicPost from "@/components/music/EmbeddedPostB";
import EmbeddedClippingPost from "@/components/clipping/EmbeddedPostB";
import SocialMediaLinks from "@/components/SocialMediaLinks";
import { getAllPosts, getAllMusic, getAllClippings, sortMDByDate, sortMDByPinned } from "@/utils";

const MAX_POSTS = 5;
const allBlogPosts = await getAllPosts();
const allMusic = await getAllMusic();
const allClippings = await getAllClippings();

const allBlogPostsByDate = sortMDByDate(allBlogPosts).slice(0, MAX_POSTS);
const allMusicByDate = sortMDByDate(allMusic).slice(0, MAX_POSTS);
const allClippingsByDate = sortMDByDate(allClippings).slice(0, MAX_POSTS);

const allBlogPostsByPinned = sortMDByPinned(allBlogPostsByDate);
const allMusicByPinned = sortMDByPinned(allMusicByDate);
const allClippingsByPinned = sortMDByPinned(allClippingsByDate);

---

<BaseLayout title="Home">
	<section>
		<h2 class="title">Feed</h2>
		<ul class="space-y-4 sm:space-y-2">
			{allBlogPostsByPinned.map(p => <EmbeddedBlogPost post={p}/>)}
		</ul>
	</section>

	<section class="mt-4 sm:mt-8">
		<h2 class="title">Music</h2>
		<ul class="space-y-4 sm:space-y-2">
			{allMusicByPinned.map(p => <EmbeddedMusicPost post={p}/>)}
		</ul>
	</section>

	<section class="mt-4 sm:mt-8">
		<h2 class="title">Clippings</h2>
		<ul class="space-y-4 sm:space-y-2">
			{allClippingsByPinned.map(p => <EmbeddedClippingPost post={p}/>)}
		</ul>
	</section>

	<section class="mt-8 sm:mt-16">
		<div>
			<span>You can find me on: </span>
			<SocialMediaLinks/>
		</div>
	</section>

</BaseLayout>
