---
import BaseLayout from '../layouts/Base.astro';
import EmbeddedPost from "@/components/blog/EmbeddedPostB";
import SocialMediaLinks from "@/components/SocialMediaLinks";
import { getAllPosts, sortMDByDate, sortMDByPinned } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
const allPostsByPinned = sortMDByPinned(allPostsByDate);

---

<BaseLayout title="Home">
	<section>
		<h1 class="title">Hello World</h1>
		<p class="mb-4 sm:mb-8">
			Hey guys! This a theme for Astro. You can use this to as personal blog
			or portfolio. If you want to know more about how you can customise and make it your
			own, click on the github icon link below, and it will take you to the repo.
		</p>
		<div>
			<span>You can find me on: </span>
			<SocialMediaLinks/>
		</div>
	</section>

	<section class="mt-8 sm:mt-16">
		<h2 class="title">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{allPostsByPinned.map(p => <EmbeddedPost post={p}/>)}
		</ul>
	</section>

</BaseLayout>
